body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background: url("../components/assets/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
