body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    height: 100%;
    width: 100%;
    background-image: url("../components/assets/wallpaper.jpg");
    background-size: cover;
}
