body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background: url("../components/assets/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.app {
    height: 100%;
}

.mainContainer {
    background-color: #ff59ff;
    display: flex;
    flex: 1;
}

.windowBackground {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 400px;
    min-width: 400px;
    width: 600px;
    border-radius: 10px;
}

.windowHeading {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.windowBody {
  padding: 10px;
}