body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background: url("../components/assets/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainContainer {
    border: 10px black;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 80px;
    display: flex;
    flex: 1;
}

.windowBackground {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    min-height: 40px;
    min-width: 400px;
    max-width: 1200px;
    border-radius: 10px !important;
    margin: 20px;
}

.windowHeading {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.windowBody {
  padding: 0px;
    height: inherit;
    background-color: white;
    color: black;
    width: 600px;
    margin: 0px;
}

.footnote {
    font-size: small;
    color: gray;
    font-style: italic;
    padding-left: 10px;
}