.hidden {
    display: none !important;
}
.shown {
    display: block !important;
}

.menuBar {
    display: flex;
    flex-direction: row;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 40px;
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    height: auto;
}

.menuStatus {
    right: 20px;
    bottom: 20px;
}

.menuNav {
    width: auto;
    top: 10px;
    left: 10px;
}

.gsButton {
    font-weight: 900;
    padding-left: 10px;
    padding-right: 20px;
}

.menuItem {
    padding-left: 10px;
    padding-right: 10px;

}

.menuItem:hover {
    background-color: #5a6268;
}

.menuIcon {
    height: 22px;
    padding-right: 10px;
    padding-left: 10px;
}

.test {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    height: 30px;
    position: absolute;
    top: 50px;
    left: 50px;
}