.conversation-container {
    background-color: rgba(0,0,0,0.75) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: none !important;
}

.conversation-container > .header {
    background-color: rgba(0,0,0,1) !important;
    height: 60px !important;
    padding: 0px !important;
}

.message > .response {
    background-color: rgba(0,0,0,0.75) !important;
    color: white !important;
}

.launcher {
    background-color: rgba(0,0,0,0.75) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: none !important;
}

.widget-container {
  flex-direction: column-reverse !important;
    top: 10px !important;
    bottom: auto !important;
}